.listView ul li a {
  color: #ffffff;
  font-size: 12px;
  list-style-type: none;
  margin-left: -40px;
}

.listView ul li a:hover {
  color: #186491;
}


.verticalLine {
  border-left: 0.1px solid #ffffff;
}


.zoom:hover {
  transform: scale(2);
  z-index: 2;
  transition: transform .1s;
  color: #186491!important;
}



/*.cover_circle {*/
  /*display: inline-block;*/
  /*border-radius: 60px;*/
  /*box-shadow: 0 0 2px #888;*/
  /*padding: 4px 15px 3px;*/
  /*background: #174354;*/

/*}*/
