<div class="panel-content" style="background: #112730; padding-bottom: 12px; letter-spacing: 1px; line-height: 23px;">
  <div class="container-fluid">
    <div class="row" style="padding-top: 12px;">
      <div class="col-md-4 col-sm-4" style="color: #ffffff; padding: 12px;">
        <div class="col-md-12 col-sm-12">
          <h4>Contact</h4>
        </div>
        <div class="col-md-12 col-sm-12" style="font-size: 12px;">
          <strong>SINGAPORE</strong><br/>
          Datakart.io by Sellosphere Pte. Ltd.<br>
          71 Woodland Industrial Park E9<br>
          Wave 9, Singapore - 757048
        </div>
      </div>
      <div class="col-md-4 col-sm-4 listView" style="color: #ffffff; padding: 12px; height: 177px; border-left: 0.1px solid #ffffff;">
        <div class="col-md-12 col-sm-12">
          <h4>Company</h4>
        </div>
        <div class="col-md-11 col-sm-11" style="font-size: 12px;">
          <ul style="list-style: none;">
            <li>​<a routerLink="/user/about-us">About Us</a></li>
            <li>​<a routerLink="/user/why-datakart">Why Datakart</a></li>
            <li>​<a routerLink="/user/our-services">Our Services</a></li>
            <li>​<a routerLink="/user/terms-conditions">Terms and Conditions</a></li>
            <li>​<a routerLink="/user/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4" style="color: #ffffff; height: 177px; padding: 12px; border-left: 0.1px solid #ffffff;">
        <div class="col-md-12 col-sm-12">
          <h4>Social Links</h4>
        </div>
        <div class="col-md-11 col-sm-11" style="font-size: 12px;">
          <a href="https://twitter.com/sellosphere" target="_blank"><i class="fa fa-twitter" style="font-size: 20px; color: #ffffff;"></i></a>
          &nbsp;&nbsp;
          <a href="https://www.linkedin.com/company/sellosphere" target="_blank"><i class="fa fa-linkedin" style="font-size: 20px; color: #ffffff;"></i></a>
          &nbsp;&nbsp;
          <a href="https://www.facebook.com/sellosphere/" target="_blank"><i class="fa fa-facebook" style="font-size: 20px; color: #ffffff;"></i></a>
          &nbsp;&nbsp;<br/><br/>
          <a href="https://www.sellosphere.com/" target="_blank" style="text-decoration: none; color: #ffffff;">
            Powered by SellOSphere
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 text-right" style="color: #ffffff;">
      © {{getCurrentYear}}, Datakart
    </div>
  </div>
</div>


<!--<div class="panel-content" style="padding-bottom: 0; font-weight: 700;">-->
  <!--<div class="col-md-6 col-sm-6" style="background: #ffffff; padding: 40px; color: #174354; height: 550px;">-->
    <!--<div class="col-md-12 col-sm-12">-->
      <!--<h3>CONTACT</h3>-->
    <!--</div>-->
    <!--<div class="col-md-12 col-sm-12">-->
      <!--<div class="col-md-12 col-sm-12" style="padding: 9px;">-->
        <!--<h4><i class="fas fa-map-marker-alt"></i> SINGAPORE</h4>-->
        <!--<div class="col-md-12 col-sm-12" style="padding-left: 30px;">-->
          <!--Address: 6 Eu Tong Sen Street, <br/>-->
          <!--#11-20 The Central Singapore (059817)-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-12 col-sm-12">-->
      <!--<div class="col-md-12 col-sm-12" style="padding: 9px;">-->
        <!--<h4><i class="fas fa-building"></i> COMPANY</h4>-->
        <!--<div class="col-md-12" style="padding-left: 30px;">-->
          <!--<a routerLink="/user/about-us" style="color: #174354">About Us</a> <br/>-->
          <!--<a routerLink="/user/why-datakart" style="color: #174354">Why Datakart</a> <br/>-->
          <!--​<a routerLink="/user/our-services" style="color: #174354">Our Services</a> <br/>-->
          <!--<a routerLink="/user/terms-conditions" style="color: #174354">Terms and Conditions</a> <br/>-->
          <!--​<a routerLink="/user/privacy-policy" style="color: #174354">Privacy Policy</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-12 col-sm-12">-->
      <!--<hr style="background: #174354; height: 3px;"/>-->
    <!--</div>-->
    <!--<div class="col-md-12 col-sm-12">-->
      <!--<h3>SOCIAL LINKS</h3>-->
      <!--<a href="https://twitter.com/sellosphere" target="_blank">-->
        <!--<i class="fa fa-twitter cover_circle" style="font-size: 20px; color: #ffffff;"></i>-->
      <!--</a> &nbsp;&nbsp;-->
      <!--<a href="https://www.linkedin.com/company-beta/9480878/" target="_blank">-->
        <!--<i class="fa fa-linkedin cover_circle" style="font-size: 20px; color: #ffffff;"></i>-->
      <!--</a> &nbsp;&nbsp;-->
      <!--<a href="https://www.facebook.com/sellosphere/" target="_blank">-->
        <!--<i class="fa fa-facebook cover_circle" style="font-size: 20px; color: #ffffff;"></i>-->
      <!--</a>-->
      <!--<br /><br />-->
      <!--<a href="https://www.sellosphere.com/"-->
          <!--target="_blank"-->
          <!--style="text-decoration: none; color: #174354;">-->
          <!--Powered by SellOSphere-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-6 col-sm-6 contact-form" style="background: #174354; color: #ffffff; padding: 40px; height: 550px;">-->
    <!--<h2>Let's get in touch</h2>-->
    <!--<h5>We're open for any suggestion</h5>-->
    <!--<div id="contact">-->
      <!--<div id="message" class="alert alert-success successContactMsg" style="display: none;">Thanks for contact-->
        <!--us, we will get back to you soon-->
      <!--</div>-->
      <!--<form #contactform="ngForm" class="contactform" novalidate id="contactform">-->
        <!--<div class="row" style="color:#000000;">-->
          <!--<div class="col-md-12">-->
            <!--<input type="text" [(ngModel)]="contactModel.contact_full_name" #contact_full_name="ngModel"-->
                   <!--name="contact_full_name" placeholder="Your Name" class="input-style" required>-->
          <!--</div>-->
          <!--<div class="col-md-12">-->
            <!--<input type="text" [(ngModel)]="contactModel.contact_email_id" #contact_email_id="ngModel"-->
                   <!--name="contact_email_id" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$"-->
                   <!--placeholder="Your Email" class="input-style" required>-->
          <!--</div>-->
          <!--<div class="col-md-12">-->
            <!--<input type="text" [(ngModel)]="contactModel.contact_phone" #contact_phone="ngModel"-->
                   <!--name="contact_phone" placeholder="Phone" class="input-style" required maxlength="14">-->
          <!--</div>-->
          <!--<div class="col-md-12">-->
            <!--<input type="text" [(ngModel)]="contactModel.contact_subject" #contact_subject="ngModel"-->
                   <!--name="contact_subject" placeholder="Subject" class="input-style" maxlength="255">-->
          <!--</div>-->
          <!--<div class="col-md-12">-->
                  <!--<textarea [(ngModel)]="contactModel.contact_message" #contact_message="ngModel" name="contact_message"-->
                            <!--placeholder="Your Message" class="input-style" maxlength="500"></textarea>-->
          <!--</div>-->
          <!--<div class="col-md-12">-->
            <!--<input type="submit" (click)="submitContactForm(contactModel)" value="SUBMIT" id="submit"-->
                   <!--class="submit" [disabled]="contactform.invalid"-->
                   <!--style="background: #CFDAE6!important; color:#174354!important; font-weight: 700">-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>&lt;!&ndash; Form &ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
