<app-user-header></app-user-header>

<div class="panel-content">

  <div class="container-fluid bg-white" style="margin:15px auto;">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <img src="{{assetsPath}}images/terms-and-conditions.jpeg" width="440" class="img-responsive img-thumbnail pull-left"
             style="margin-right:12px;">
        <h2>Terms & Conditions</h2>
        <p>The Datakart terms of service on this web page govern your Datakart subscription. You agreed to these terms
          of
          service when you registered for your Datakart account.</p>

        <h4>SUBSCRIPTIONS, PAYMENTS & OVERAGE CHARGES</h4>

        <p>Payment for your Datakart Subscription is processed immediately by Stripe Payments and continues regardless
          of
          the usage level of your Datakart Subscription. You acknowledge that Datakart incurs costs associated with your
          Datakart Subscription, which include but are not limited to account activation, customer service, adding
          improvements to the Datakart website, administrative time spent managing your Subscription, and other
          services.</p>
        <p>
          FOR API CALLS, OVERAGE CHARGES WILL ACCUMULATE WITHOUT WARNING AND WILL CHARGE NIGHTLY AT YOUR PLAN'S OVERAGE
          RATE. This may result in large additional charges, depending on your usage. Therefore, please use the API
          carefully and add any necessary throttling required to manage your overage charges.

          For file imports, you will be asked to confirm that overage charges may result when you upload a file with
          more
          records than you have credits.
        </p>
        <p>
          Your Datakart subscription will automatically renew and your credit card will automatically be billed for the
          renewal (at the same cost as your prior agreement). By subscribing to a Datakart subscription and agreeing to
          the Datakart terms of service on this web page, you are agreeing to an automatic renewal of your Datakart
          service. All Datakart terms of service on this web page including No Refunds apply to your Datakart renewal
          agreement. If you would like to opt out of the automatic renewal of your Datakart service, then you must
          cancel
          your Subscription prior to your next billing date. Datakart guarantees that all renewals will be billed at the
          same rate as the original pricing agreement, even if that rate was promotional pricing or otherwise negotiated
          when you subscribed. However, Datakart reserves the right to cancel payment plans and issue new plans with
          higher or lower rates. If you intentionally or unintentionally reverse the credit card charge for your
          Datakart
          renewal agreement, then you will be responsible for paying the full amount of the renewal plus a 20% violation
          of service penalty within 5 business days from the date that the credit card charge was reversed. Send
          inquiries
          regarding renewals or your request to opt out of the automatic renewal of your Datakart service to
          info@datakart.co
        </p>
        <p>There are no refunds, under any circumstances, for your Datakart Subscription.</p>
        <p>
          If you fail to make payment for your Datakart Subscription then you agree to pay for all legal and collection
          costs associated with collection of payment on your account which may exceed the actual cost for your Datakart
          Subscription.
        </p>

        <h4>DATA USE</h4>
        <p>
          Regardless of your subscription level, you must be on an active Datakart subscription in order to continue
          using
          any of the Datakart data. If your Datakart subscription is canceled then you are responsible for deleting all
          Datakart data from your internal systems and notifying internal users that they are no longer permitted to use
          the Datakart data. If Datakart learns that you are using Datakart data without an active Datakart
          subscription,
          then you shall be immediately obligated to pay the full cost of a Datakart subscription and you authorize
          Datakart to immediately bill your credit card. If Datakart learns that you have transmitted email to Datakart
          contacts for or on behalf of anyone else including but not limited to your customers and / or business
          partners,
          then you shall be immediately obligated to pay the full cost of a Datakart subscription and you authorize
          Datakart to immediately bill your credit card on file that was used for your Datakart subscription.
        </p>

        <h4>GENERAL USE</h4>
        <p>You shall not copy or adapt the HTML code that the website creates to generate its pages.</p>
        <p>Users are prohibited from violating or attempting to violate the security of the website, including, without
          limitation,</p>
        <ul>
          <li>
            accessing data not intended for such user or logging into a server or account which the user is not
            authorized
            to access.
          </li>
          <li>attempting to probe, scan or test the vulnerability of a system or network or to breach security or
            authentication measures without proper authorization,
          </li>
          <li>attempting to interfere with service to any user, host or network, including, without limitation, via
            means
            of submitting a virus to the website, overloading, flooding, spamming, mailbombing or crashing.
          </li>
          <li>sending unsolicited spam e-mail including promotions and/or advertising of products or services.</li>
          <li>forging any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting.
            Violations of system or network security may result in civil or criminal liability. Datakart will
            investigate
            occurrences, which may involve such violations and may involve, and cooperate with, law enforcement
            authorities in prosecuting users who are involved in such violations.
          </li>
        </ul>
        <p>Datakart may be used only for lawful purposes by individuals seeking to network with other individuals.
          Datakart specifically prohibits any use of the website, and all users agree not to use the website, for any of
          the following:</p>
        <ul>
          <li>Using any device, software or routine to interfere or attempt to interfere with the proper working of this
            website or any activity being conducted on this site.
          </li>
          <li>
            Taking any action which imposes an unreasonable or disproportionately large load on this website’s
            infrastructure.
          </li>
          <li>
            If you have a password allowing access to a non-public area of this website, disclosing to or sharing your
            password with any third parties or using your password for any unauthorized purpose, or printing and sharing
            any of the information on this website with unauthorized users.
          </li>
          <li>
            Notwithstanding anything to the contrary contained herein, using or attempting to use any engine, software,
            tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, avatars or
            intelligent agents) to navigate or search this website other than the search engine and search agents
            available from the website and other than generally available third party web browsers (e.g., Netscape
            Navigator, Microsoft Explorer).
          </li>
          <li>
            Attempting to decipher, decompile, disassemble or reverse engineer any of the software comprising or in any
            way making up a part of the website. Datakart does not represent or guarantee the accuracy, or reliability
            of
            business email information provided by Datakart. You acknowledge that any reliance on material found in
            Datakart will be at your own risk.
          </li>
        </ul>
        <p>
          You agree not to resell or assign your rights or obligations under these Terms of Service. You also agree not
          to
          make any unauthorized commercial use of the website.
        </p>
        <p>The aggregate liability for Datakart to you for all claims arising from the use of the Materials is limited
          to
          $100.</p>
        <p>
          You agree in the event Datakart or it’s agent requests information pertaining to your account that you will
          provide said information within 24 hours of notification.
        </p>
        <p>You agree that through your use of the Datakart website to agree to abide by the laws of Singapore. You agree
          that the forum for all litigation as a result of misuse of the Datakart website shall be Singapore, not
          withstanding conflict of laws rules.</p>
        <p>You acknowledge that the transmission of unsolicited commercial e-mail (UCE or SPAM) is against both the
          policies of Datakart and illegal in Singapore, and will be vigorously prosecuted when detected.</p>
        <p>You acknowledge and agree that if Datakart must bring an action for breach of this agreement due to any
          violation including but not limited to unauthorized contact with business card contacts, failure to adhere to
          the automatical renewal policy as defined in item 2. above, or other, you will be responsible for attorneys
          fees and costs associated with the action.</p>
        <p>
          You agree that the name Datakart and all associated information on the Datakart website is the intellectual
          property of Datakart, and their unauthorized use constitutes copyright and /or trademark infringement.
        </p>
        <p>
          Datakart reserves the right, at its sole discretion, to pursue all of its legal remedies, including but not
          limited to immediate termination of your registration with or ability to access the website and/or any other
          service provided to you by Datakart, upon any breach by you of these Terms of Service or if Datakart is unable
          to verify or authenticate any information you submit to the website registration with or ability to access the
          website.
        </p>
        <p>Datakart reserves the right to expel users and prevent their further access to the website for violating the
          Terms of Service or the law.</p>
        <p>Datakart is a unique product offering access to business information. You agree that by accessing Datakart
          only
          once you have waived all rights to any refunds of fees paid to Datakart.</p>
      </div>
    </div>
  </div>
</div>
<app-user-footer></app-user-footer>
