/************************************************************************************/
table.dataTable tbody th, table.dataTable tbody td {
  padding: 8px 18px !important;
}

table.dataTable thead th, table.dataTable thead th {
  padding: 0 -1px !important;
  background-color: #2a4d5a;
  color: #ffffff;
  font-weight: 400;
}

/************************************************************************************/
/*******************  CHECKBOX1 ******************************************************/
.container1 {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1 {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark1 {
  background-color: #2196F3;
}

/* Create the checkmark2/indicator (hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark2 when checked */
.container1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the checkmark2/indicator */
.container1 .checkmark1:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/************************************************************************************/

/*******************  CHECKBOX2 ******************************************************/
.container2 {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark2 {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark2 {
  background-color: #2196F3;
}

/* Create the checkmark2/indicator (hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark2 when checked */
.container2 input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the checkmark2/indicator */
.container2 .checkmark2:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/************************************************************************************/

/**************************** LOADER ************************************************/
.load-bar2 {
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: 2px;
  background-color: #fdba2c;
}
.bar2 {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar2:nth-child(1) {
  background-color: #ff5252;
  animation: loading 3s linear infinite;
}
.bar2:nth-child(2) {
  background-color: #d8d8d8;
  animation: loading 3s linear 1s infinite;
}
.bar2:nth-child(3) {
  background-color: #85bcd6;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
  from {left: 50%; width: 0;z-index:100;}
  33.3333% {left: 0; width: 100%;z-index: 10;}
  to {left: 0; width: 100%;}
}
/************************************************************************************/
