.panel {
  height: 178px !important;
}

/******************** DATA-TABLE *****************************************************/
table.dataTable thead th, table.dataTable thead td {
  border-bottom: 0.1px solid #111111 !important;
}

/*.dataTables_wrapper.no-footer .dataTables_scrollBody {*/
/*border-bottom: 0 solid #111111!important;*/
/*}*/
.dataTables_wrapper .dataTables_info {
  clear: none !important;
}

/*******************  CHECKBOX1 ******************************************************/
.container1 {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1 {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark1 {
  background-color: #2196F3;
}

/* Create the checkmark2/indicator (hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark2 when checked */
.container1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the checkmark2/indicator */
.container1 .checkmark1:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/************************************************************************************/
