<app-user-header></app-user-header>

<div class="panel-content">
  <div class="container-fluid bg-white" style="margin:15px auto;">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <img src="{{assetsPath}}images/about.png" width="300" class="img-responsive img-thumbnail pull-left" style="margin-right:12px;">
        <h2>About Us</h2>
        <p>DATAKART from Sellosphere provide collaborative analytics for faster insight, a unified means of search, provide a
          more optimized data structure and make data available for all in need. With a repository of clients and huge
          databases, we collate and catalogs every bit of information we work with and then centralizes its knowledge of data,
          automatically capturing information on what the data describes, where the data comes from, who's using it and how
          it's used.</p>
        <p>Sellosphere, is a targeted business development and marketing company for technology start-ups and B2B companies
          including key-account marketing, inbound marketing, and lead generation & conversion to grow your business.
          With experience in working for all sizes of ventures, and a marketing acumen blended with a passion to assist
          especially the budding start-ups, we at Sellosphere have evolved as leaders in business development, marketing
          consulting, lead generation and B2B Appointment Setting. Headquartered in the US, we have been successfully serving
          our clients for past three years with an unsurpassed enthusiasm and happy clients who have been our pillar of
          motivation.
        </p>
        <p>
          We comprehend that the most significant component of any company is its business development and usage of analytics
          which is why we have created a strategic methodology to help IT startups that are battling with business challenges
          as well as the use of data during their initial stages.
        </p>
      </div>
    </div>
  </div>
</div>
<app-user-footer></app-user-footer>
