<app-user-header></app-user-header>

<div class="main-content">
  <div class="panel-content" style="padding-top: 50px;">
    <div class="row">
      <div class="heading-sec">
        <div class="row">
          <div class="col-md-4 column">
            <div class="heading-profile">
              <h2><i class="fa fa-file"></i> MANAGE PROFILE</h2>
            </div>
          </div>
        </div>


        <div class="widget" style="padding: 12px;">
          <!--<form>-->
          <!--<div class="col-md-4 form-group">-->
          <!--<label>Company Name</label>-->
          <!--<input type="text" class="form-control input-sm" placeholder="Company Name"/>-->
          <!--</div>-->

          <!--<div class="col-md-4 form-group">-->
          <!--<label>Year of established</label>-->
          <!--<select class="form-control input-sm">-->
          <!--<option *ngFor="let data of yearData" value="{{data.year}}">{{data.year}}</option>-->
          <!--</select>-->
          <!--</div>-->

          <!--<div class="col-md-4 form-group">-->
          <!--<label>Strength</label>-->
          <!--<input type="text" class="form-control input-sm" placeholder="0-0"/>-->
          <!--</div>-->

          <!--<div class="col-md-4 form-group">-->
          <!--<label>Address</label>-->
          <!--<input type="text" class="form-control input-sm" placeholder="Address"/>-->
          <!--</div>-->

          <!--<div class="col-md-4 form-group">-->
          <!--<label>Secondary Address</label>-->
          <!--<input type="text" class="form-control input-sm" placeholder="Secondary Address"/>-->
          <!--</div>-->


          <!--<div class="col-md-4 form-group">-->
          <!--<label>Country</label>-->
          <!--<select class="form-control input-sm">-->
          <!--<option value="{{cl.country_code+'_'+cl.country_name}}" *ngFor="let cl of countryList">{{cl.country_name}}</option>-->
          <!--</select>-->
          <!--</div>-->

          <!--<div class="col-md-4 form-group">-->
          <!--<label>City</label>-->
          <!--<input type="text" class="form-control input-sm" placeholder="City"/>-->
          <!--</div>-->

          <!--<div class="col-md-4 form-group">-->
          <!--<label>State</label>-->
          <!--<input type="text" class="form-control input-sm" placeholder="State"/>-->
          <!--</div>-->

          <!--<div class="col-md-12 form-group">-->
          <!--<button class="btn btn-default btn-sm">Save</button>-->
          <!--</div>-->
          <!--</form>-->
        </div>
      </div>
    </div>
  </div>
</div>
<app-user-footer></app-user-footer>
