<div class="account-user-sec">
  <div class="account-sec">
    <div class="account-top-bar">
      <div class="container-fluid">
        <div class="logo">
          <a routerLink="/">
            <img src="{{assetsPath}}images/logo_180x.png" style="width: 227px;"/>
          </a>
        </div>
        <ul class="account-header-link">
          <li><a title="" routerLink="/">HOME</a></li>
          <li><a title="" routerLink="/user/login/">LOGIN</a></li>
          <li><a title="" routerLink="/user/signup/">REGISTER</a></li>
          <li><a title="" routerLink="/user/why-datakart/">WHY DATAKART</a></li>
          <li><a title="" routerLink="/user/our-services/">OUR SERVICES</a></li>
          <li><a title="" routerLink="/user/about-us/">ABOUT US</a></li>
        </ul>
      </div>
    </div>
    <div class="acount-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="account-detail">
              <ul>
                <li>
                  <h3><i class="fa  fa-television"></i> Keep everything Sync</h3>
                  <p>Discover innovative companies and the people behind them</p>
                </li>
                <li>
                  <h3><i class="fa fa-map-o"></i> Advance Search</h3>
                  <p>Find, track, and analyze the companies you care about.</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="col-md-12 col-sm-12 col-xs-12 load-bar" *ngIf="loading">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
            <div class="contact-sec">
              <div class="row">


                <!---------------------- FORGOT PASSWORD VIEW ----------------------------------------->
                <div class="col-md-12" *ngIf="forgotPasswordView">
                  <div class="widget-title">
                    <h3>FORGOT PASSWORD</h3>
                    <span>Fill your detail to get in</span>
                  </div><!-- Widget title -->
                  <div class="account-form">
                    <span style="color: red; font-size: 12px;" class="pull-right">{{errorMsg}}</span>
                    <form novalidate #forgotPasswordForm="ngForm" class="forgotPasswordForm">
                      <div class="row">
                        <div class="feild col-md-12 form-group">
                          <input type="text" placeholder="Email address" name="email_id"
                                 required
                                 #email_id="ngModel"
                                 [(ngModel)]="forgotPasswordModel.email_id"
                                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$"/>
                        </div>
                        <div class="feild col-md-12 form-group">
                          <input type="submit" value="Email OTP to reset the password"
                                 (click)="emailOTPResetPass_user(forgotPasswordModel.email_id)"
                                 [disabled]="forgotPasswordForm.invalid"/>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <!---------------------- RESET PASSWORD VIEW ----------------------------------------->
                <div class="col-md-12" *ngIf="resetPasswordView">
                  <div class="widget-title">
                    <h3>RESET PASSWORD</h3>
                    <button class="btn btn-default btn-sm pull-right" (click)="backToForgetPasswordView()">BACK</button>
                    <span>Fill your detail to get in</span>
                  </div><!-- Widget title -->
                  <div class="account-form">
                    <div class="alert alert-success successMsg" style="display: none;">
                      <strong>Successfully Reset</strong>
                    </div>
                    <span style="color: red; font-size: 12px;" class="pull-right">{{errorMsg2}}</span>
                    <form novalidate #resetPasswordForm="ngForm" class="resetPasswordForm">
                      <div class="row">
                        <div class="feild col-md-12 form-group">
                          <span *ngIf="otp.invalid && (otp.dirty || otp.touched)" class="error">
                                  <span class="pull-right" *ngIf="otp.errors.required"
                                        style="color: red; font-size: 10px;">
                                    OTP is required
                                  </span>
                            </span>
                          <input type="text"
                                 placeholder="OTP"
                                 name="otp"
                                 required
                                 #otp="ngModel"
                                 [(ngModel)]="forgotPasswordModel.otp"
                                 maxlength="5" />
                        </div>
                        <div class="feild col-md-12 form-group">
                          <span *ngIf="new_password.invalid && (new_password.dirty || new_password.touched)" class="error">
                                  <span class="pull-right" *ngIf="new_password.errors.required"
                                        style="color: red; font-size: 10px;">
                                    New Password is required
                                  </span>
                            </span>
                          <span
                            *ngIf="(forgotPasswordModel.new_password == null ? 0 : forgotPasswordModel.new_password).length < 6"
                            style="font-size: 10px; color:red;" class="pull-right error">
                              Password should be 6 characters long
                            </span>
                          <input type="password" placeholder="New Password"
                                 required
                                 #new_password="ngModel"
                                 [(ngModel)]="forgotPasswordModel.new_password"
                                 name="new_password"/>
                        </div>
                        <div class="feild col-md-12 form-group">
                            <span
                              *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)"
                              class="error">
                                  <span class="pull-right" *ngIf="confirm_password.errors.required"
                                        style="color: red; font-size: 10px;">
                                    Confirm Password is required
                                  </span>
                            </span>
                          <span class="pull-left"
                                *ngIf="(forgotPasswordModel.new_password !== forgotPasswordModel.confirm_password) && (forgotPasswordModel.confirm_password !== null)"
                                style="color:red; font-size: 10px;">
                                     Password does not match!
                            </span>
                          <input type="password" placeholder="Confirm Password" required #confirm_password="ngModel"
                                 [(ngModel)]="forgotPasswordModel.confirm_password" name="confirm_password"/>
                        </div>
                        <div class="feild col-md-12 form-group">
                          <input type="submit" value="Reset Password Now"
                                 (click)="resetPassword_user(forgotPasswordModel)"
                                 [disabled]="(resetPasswordForm.invalid) ||
                                               ((forgotPasswordModel.new_password == null ? 0 : forgotPasswordModel.new_password).length < 6) ||
                                               ((forgotPasswordModel.new_password !== forgotPasswordModel.confirm_password) && (forgotPasswordModel.confirm_password !== null))"/>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Account Sec -->
</div>
