<app-user-header></app-user-header>

<div class="panel-content">

  <div class="container-fluid bg-white" style="margin:15px auto;">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <img src="{{assetsPath}}images/privacy.jpg" width="300" class="img-responsive img-thumbnail pull-left" style="margin-right:12px;">
        <h2>Privacy Policy</h2>
        <p>All the data in your account is yours. When you create your account, we ask information like your email, you
          name or what company your work for. All this information is used to personalize your experience or send you
          onboarding emails and invoices. This basic information about your account is only accessible to Datakart and
          will never be shared with third parties.</p>
        <p>Sensitive data that results from your use of the product like the searches you do on Datakart, the files you
          upload or the data accessible via connected applications will only be accessed by Datakart with your permission
          to help you with a problem or fix a software problem.</p>
        <p>
          All data is encrypted via SSL/TLS when transmitted from our servers to your browser.
        </p>
        <p>
          In all of our products, we may track actions done by our users to improve the service. We'll track these actions
          for statistical purposes, for example, to know the popularity of a feature or the conversion rate of a page.
          This data is only accessible by Datakart and the third parties we use to analyze the behavior data.
        </p>
        <p>
          Datakart may update this policy. We’ll notify you about significant changes by emailing the account owner or by
          displaying a prominent notice on our site.
        </p>
        <p>You can access, change or delete your personal information at any time in your account settings, or if it’s not
          directly possible, by contacting our support team.</p>
      </div>
    </div>
  </div>


  <!--<div class="col-md-2">&nbsp;</div>-->
  <!--<div class="col-md-8" style="background: #ffffff; padding: 12px;">-->
    <!--<div class="col-md-12">-->

    <!--</div>-->
    <!--<div class="col-md-12" style="text-align: justify;">-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-2">&nbsp;</div>-->
</div>
<app-user-footer></app-user-footer>
