<div class="top-bar">
  <div class="logo">
    <a title="">DATA/KART</a>
    <div class="menu-options">
      <span class="menu-action"><i></i></span>
    </div>
  </div>
</div><!-- Top Bar -->
<header class="side-header light-skin opened-menu">
  <div class="admin-details"></div>
  <div class="menu-scroll">
    <div class="side-menus">
      <nav>
        <ul>
          <li><a routerLink="/company"><i class="fa fa-dashboard"></i> <span>Companies</span></a></li>
          <li><a routerLink="/people"><i class="fa fa-file"></i> <span>People</span></a></li>
        </ul>
      </nav>
    </div>
  </div><!-- Menu Scroll -->
</header>
